@import '../../../styles/mixin';

$bg-color-title:        #f60;
.hello{
  .wei{
    background: #000;
  }
  font-size: rem(14);
  color:#fff;
  background: $bg-color-title;
  width:rem(300);
  height:rem(300);
  display: flex;
}