@import '../../../../../styles/mixin';

$bg-color-title:        #f60;


.wrap{
  padding: rem(30) 0;
  margin: 0 rem(30);
  font-size: rem(28);
  border-bottom: 1px solid #E8E8E8;
  h2{
    color: #666;
    margin-bottom: rem(20);
  }
  .btn ul{
    display: flex;
    align-items: center;
    justify-content: left;
    li{
      height: rem(70);
      text-align: center;
      color: #666;
      padding: 0 rem(20);
      line-height: rem(68);
      background: #fff;
      border: 1px solid #CCCCCC;
      border-radius: rem(8);
      margin-right: rem(15);
    }
    li.selectActive{
      background: #FF6EA2;
      border-color:#FF6EA2;
      box-shadow: 0 2px 5px 0 rgba(255,110,162,0.40);
      border-radius:rem(8);
      color: #fff;
    }
  }
}